.hostNameState-button {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  opacity: 0.9;
  letter-spacing: 1px;
}

.enable-btn {
  margin-right: 1rem;
  background-color: rgb(52, 112, 52);
}

.disable-btn {
  background-color: rgb(223, 36, 36);
}

.hostNameState-button:hover {
  opacity: 1;
}

/* Disabled styles for when btns are disabled */
.enable-btn:disabled, 
.disable-btn:disabled {
 cursor: not-allowed;
}