/* .hostName-label {
  padding-left: 1rem;
  margin: 3px 0px 5px 5px;
  font-size: 1.1rem;
}

.hostName-checkbox {
  margin: 3px 5px 0px 0px;
}

.container-label-enabledState:nth-child(even) {
  background-color: blue;
}

.container-label-enabledState {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
