.region-button {
  width: 180px;
  height: 55px;
  color: white;
  background-color: rgb(54, 31, 117) !important;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0.4em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}

.region-button:hover {
  opacity: 0.8;
}

.region-button-clicked {
  width: 180px;
  height: 55px;
  border-radius: 0;
  background-color: rgb(241, 32, 17) !important;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0.4em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
